@{
    var pageName = PageHelper.GetCurrentPageName(Context);
}
<nav class="flex flex-col space-y-2">
    <a class="@(pageName == "index" ? "nav-link-active" : "nav-link")" asp-area="" asp-page="@Routes.Public.Home">
        <span class="nav-icon icon-home text-xl"></span> Home
    </a>

    <a class="@(pageName == "portfolio" ? "nav-link-active" : "nav-link")" asp-area="" asp-page="@Routes.Public.Portfolio">
        <span class="nav-icon icon-portfolio text-xl"></span> Portfolio
    </a>

    <a class="@(pageName == "blog" ? "nav-link-active" : "nav-link")" asp-area="" asp-page="@Routes.Public.Blog">
        <span class="nav-icon icon-blog text-xl"></span> Blog
    </a>

    <a class="@(pageName == "contact" ? "nav-link-active" : "nav-link")" asp-area="" asp-page="@Routes.Public.Contact">
        <span class="nav-icon icon-contact text-xl"></span> Contact
    </a>
</nav>